<!-- Alert -->

<div class="alert alert__row">
	<div class="col-lg-8 col-md-10 mx-auto font-kalam m-0 d-flex justify-content-center align-items-center">
		<% if(type user != 'undefined') { %>
		<div class="alert__message">Welcome back <%= user.username } %></div> 
		<% } %>
	</div>
</div>
