<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('/img/byob-collage-1.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>Update Profile</h4>
                      <hr />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <form
                        action="/users/update"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div class="form-group row">
                          <label for="name" class="col-4 col-form-label"
                            >Username</label
                          >
                          <div class="col-8">
                            <input
                              id="username"
                              name="username"
                              placeholder="Username"
                              class="form-control here"
                              type="text"
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label"
                            >Email</label
                          >
                          <div class="col-8">
                            <input
                              id="email"
                              name="email"
                              placeholder="Email"
                              class="form-control here"
                              type="email"
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="publicinfo" class="col-4 col-form-label"
                            >Bio</label
                          >
                          <div class="col-8">
                            <textarea
                              id="bio"
                              name="bio"
                              cols="40"
                              rows="4"
                              class="form-control"
                              type="text"
                            ></textarea>
                          </div>
                        </div>
                        <label>Image</label>
                        <div
                          class="form-group floating-label-form-group control"
                        >
                          <input
                            type="file"
                            id="image"
                            class="form-control"
                            name="image"
                          />
                        </div>
                        <div class="form-group row">
                          <div class="offset-4 col-8">
                            <button type="submit" class="btn btn-primary mt-3">
                              Update
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
