h1 {
	font-family: 'Domine', serif;
}

.font-kalam {
	font-family: 'Kalam', cursive !important;
}

.container .navbar-brand {
	letter-spacing: 1px;
	font-weight: 300;
}

a.nav-link.reset-password-link {
	padding: 0;
	font-size: 13px;
	font-family: 'Kalam', cursive !important;
}
