h1 {
	font-family: 'Domine', serif;
}

.font-kalam {
	font-family: 'Kalam', cursive !important;
}

.container .navbar-brand {
	letter-spacing: 1px;
	font-weight: 300;
}

a.nav-link.reset-password-link {
	padding: 0;
	font-size: 13px;
	font-family: 'Kalam', cursive !important;
}

/*//////////////ALERT BANNER////////////////*/
.alert.alert__row {
	margin: 0;
	background-image: linear-gradient(
		to bottom right,
		rgba(0, 203, 75, 0.7),
		rgba(0, 200, 71, 0.8)
	);
	color: white;
	border-radius: 0;
	padding: 0.35rem 0.63rem;
	padding-bottom: 0rem;
	animation: welcome-banner 1s cubic-bezier(1, 0.01, 0.37, 1.06) 1;
}

.alert__message {
	animation: message-fade-in ease 3s forwards;
}

.navbar-nav.ml-auto.custom-dropdown {
	text-align: center;
}

@keyframes welcome-banner {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}

@keyframes message-fade-in {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}

	70% {
		transform: scaleY(1);
		opacity: 1;
	}

	100% {
		color: black;
	}
}
